In [1]:
import pandas as pd
from keras import Model
from sklearn.svm import SVC
from sklearn.model_selection import GridSearchCV
from keras.layers import Bidirectional, LSTM, Dense, Dropout, BatchNormalization, Input

## Data

In [2]:
df_train = pd.read_csv("./clean_train.csv")
df_train.head()

,Tenure,Matric,Degree,Diploma,Female,Sa_citizen,Birthyear,Birthmonth,Target,Year_survey,...,Home_lang_70_79,Home_lang_80_100,Home_lang_nan,Science_30_39,Science_40_49,Science_50_59,Science_60_69,Science_70_79,Science_80_100,Science_nan
0,0.0,1.0,0.0,0.0,1,1,2000,5,0,2022,...,False,False,True,False,False,False,False,False,False,False
1,427.0,1.0,0.0,0.0,1,1,1989,4,1,2023,...,False,False,True,True,False,False,False,False,False,False
2,0.0,1.0,0.0,0.0,0,1,1996,7,1,2022,...,False,False,True,True,False,False,False,False,False,False
3,810.0,0.0,0.0,0.0,0,1,2000,1,0,2022,...,False,False,True,False,False,False,False,False,False,True
4,0.0,0.0,0.0,0.0,1,1,1998,12,0,2023,...,False,False,True,False,False,False,False,False,False,True

In [3]:
df_train.shape

(4020, 74)

In [4]:
train = df_train.drop('Target', axis=1)
targets = df_train['Target']

train.shape, targets.shape

((4020, 73), (4020,))

## Model

In [5]:
# "C": [0.08, 0.05, 0.03, 0.01, 0.1, 1, 3, 5, 7, 10],
grid_search_params = {
    "C": [0.01, 0.05, 0.09, 0.1, 1, 5, 7, 10],
    "kernel": ["linear", "rbf", "poly", "sigmoid"],
    "degree": [2, 3, 4, 5],
    "gamma": ["scale", "auto"] + [0.001, 0.01, 0.1, 1],
}

cls_svc = SVC()

grid_search = GridSearchCV(
    estimator=cls_svc, param_grid=grid_search_params, cv=5, scoring="accuracy"
)

grid_search.fit(train, targets)

print(f"{grid_search.best_params_}\n\n")
print(f"{grid_search.best_estimator_}")

In [ ]:
# input_shape = (None, train.shape[-1])

# input_layer = Input(shape=input_shape)

# x = BatchNormalization()(input_layer)

# units = [128, 64, 32]

# for unit in units:
#     # x = Bidirectional(LSTM(unit, return_sequences=True))(x)
#     x = LSTM(unit, return_sequences=True)(x)
#     x = BatchNormalization()(x)
#     x = Dropout(0.3)

# output_layer = Dense(1, activation="sigmoid")(x)

# model = Model(inputs=input_layer, outputs=output_layer)

# model.compile(optimizer="adam", loss="binary_crossentropy", metrics=["accuracy"])

# model.summary()